<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Conversation Topics</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>

<h2>Generate Conversational Flow</h2>

<label>Starting Topic: <input type="text" id="startTopic"></label><br><br>
<label>Ending Topic: <input type="text" id="endTopic"></label><br><br>
<label>Speaker's Role: <input type="text" id="speakerRole"></label><br><br>
<label>Number of Intermediary Topics: <input type="number" id="numIntermediaries" min="1" value="1"></label><br><br>
<label>Number of Associations: <input type="number" id="numTopN" min="1" value="10"></label><br><br>
<button id="generateButton">Generate</button>

<div id="graph" class="svg-container"></div>

<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="/static/js/script.js"></script>
</body>
</html>
